<nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark">
  <a class="navbar-brand elegant-color-red"  href="#"></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  

  
     
      <form method="POST">
      <div class="input-group mb-3">
          {% csrf_token %}
         <br> <input type="text" name="search" placeholder="search here .." class="form-control" aria-label="Username">
      </div>
      <p>
        <button type="submit" name="submit" value="search" class="btn btn-primary my-2">Netflix Search</button>
        <button type="submit" name="submit" value="lucky" class="btn btn-secondary my-2">Trending</button>
      </p>
      </form>
    
  
</nav>
